.header{
    justify-content: space-around;
}
.mainimg{
   position: absolute;
   width: 100%;
   height: 100vh;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   justify-content: center;
   align-items: center;
   
}
.navul{
    display: flex;
    position: relative;
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    justify-content: center;
    align-items: center;
   
}
.navli{
    display: flex;
    margin-left: 20px;
    padding: 30px;
}
.a{
    color: white;
    font-size: 20px;
}
.a:hover{
    color: royalblue;
}
.maintext{
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    margin-top: 250px;
    align-items: center;
    
}
.mainh1{
    color: white;
    font-size: 70px;
}
.mainp{
    color: white;
    max-width: 600px;
    width: 100%;
    font-size: 20px;
    margin:25px 0px;
}
.mainbutton{
    border: #377dff solid 2px;
    border-radius: 15px; 
    background-color: #377dff;
    color:white;
    padding: 15px ;
}
.mainbutton:hover{
    background-color: royalblue;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 270px;
}


.sectionimg{
    max-width: 500px;
    width: 100%;
   
}
.sectionh3{
    font-size: 29px;
    font-style: bold;
}
.sectionp{
    font-size: 18px;
    margin-top: 20px;
    margin-bottom: 40px;
}
.part2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 170px ;
    width: 100%;
    height: 400px;
    background-color: rgb(170, 159, 159);
    
}
.logo{
    max-width:110px;
    width: 100%;
    margin-left:200px;
}
.parth2{
    font-size: 22px;
    text-align: center;
    margin-bottom: 15px;
}
.part2p{
    width: 500px;
    text-align: center;
}
.hacker{
    max-width:450px;
    width: 100%;
}
.divcoding{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 170px 0px ;
}
.coding1{
    max-width: 500px;
    width: 100%;
}
.codingp{
    max-width: 500px;
    width: 100%;
    text-align: center;
    margin-top:20px;
    margin-bottom: 40px;
}
.codingh2{
    text-align: center;
    font-size: 22px;
}
.codinga{
    border: #377dff solid 2px;
    border-radius: 15px; 
    background-color: #377dff;
    color:white;
    padding: 15px ;
}
.codinga:hover{
    background-color: royalblue;
}
.codingtext{
    text-align: center;
}

.webimg{
    position: absolute;
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
}
.submit{
    max-width: 150px;
    width: 100%;
    height: 45px;
    margin-top: 10px;
    margin-left: 15px;
    border-radius: 20px;
    color: white;
    background-color: #377dff;
    border: none;
    cursor: pointer;
}
.submit:hover{
    background-color: royalblue;
}
.email:focus{
    outline: none;
}
.email{
    margin: 10px 0px 25px 0px;
    max-width: 280px;
    width: 100%;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px;
}
.form{
    position: relative;
    text-align: center;
    margin: 0 auto;
    padding-top: 20px;
}
.web{
    width: 100%;
    height: 345px;
    margin-bottom: 170px;
}
.webp{
    padding-top: 120px;
    position: relative;
    color: white;
    font-size: 25px;
    text-align: center;
    
}
.btn{
    background-color: DodgerBlue;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    margin-right: 20px;
}
#amiko{
	padding-left:20px;
    font-size: 18px;
}
.btn:hover {
    background-color: RoyalBlue;
}
.downloadbtn{
    margin-top: 20px;
}
.end1{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.end{
    margin-top: 250px;
    margin-bottom: 170px;
    text-align: center;
}
.endp{
    text-align: center;
    margin-top: 20px;
    max-width: 600px;
    width: 100%;
    
}
.endh2{
    font-size: 25px;
    
}
.footerdiv{
    display: flex;
    justify-content: space-between;
    height: 200px;
    background-color: black;
    align-items: center;
    
}
.fota{
    color: white;
    font-size: 19px;
    
}
.fotp{
    color: white;
    margin-right: 20px;
}
#fota{
    margin-left: 20px;
}
.fota:hover{
    color: royalblue;
}
.by p {
    font-size: 20px;
}
.amikologo{
    width: 100%;
}

